.p {
  min-height: 100vh;
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

.p-header {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.p-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

.port-content {
  font-weight: 500;
  letter-spacing: 0.05rem;
}
.portfolio-div {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
}

.port-repo {
  color: black;
}

.port-repo:hover {
  color: #8a1a1a;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .p {
    flex-direction: column;
  }

  .p-wrapper {
    justify-content: center;
  }

  .portfolio-div {
    flex: 0 0 350px;
  }
}
