.skills {
  height: 50vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-title {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.skills-item {
  color: #8a1a1a;
}

@media screen and (max-width: 480px) {
  .skills {
    height: auto;
    padding-top: 50px;
  }
  .skills-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
} ;
