.c {
  height: 100vh;
  position: relative;
}

.c-background {
  width: 20px;
  height: 100%;
  background-color: #8a1a1a;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}

.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
}

.c-icon {
  padding-right: 10px;
  height: 50px;
  margin-right: 20px;
}

.c-description {
  font-weight: 200;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 200%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 200%;
  margin: 20px 0px;
  font-size: 14px;
  padding-left: 20px;
}

button {
  border: none;
  padding: 15px;
  background-color: #8a1a1a;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .c {
    padding-top: 950px;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-background {
    height: 80%;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  textarea {
    width: 100%;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}
