body {
  background-color: #282c34;
  color: black;
  padding: 0px;
  font-family: Arial;
  text-align: center;
}

nav {
  background-color: yellow;
  position: fixed;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: yellow;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

